body,div,p,a,img,input,form,span,ul,li{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-weight: normal;
	font-size: 22px;
	color: #2d0448;
	font-weight: 500;
}

header ul{
	list-style: none;
	height: 40px;
	margin: 50px 0 10px 0;
	line-height: 40px;
	overflow: hidden;
	padding-left: 80px;
	background-image: url(../img/yinyue.png);
	background-repeat: no-repeat;
	background-position: 40px 0px;
}

header li{
	line-height: 33px;
	float: left;
	padding: 0 15px;
}

header li:after{
	position: absolute;
	margin-top: 17px;
	line-height: 22px;
	content: " ";
	display: inline-block;
	width: 1px;
	height: 20px;
	margin-left: 12px;
}

header li:last-of-type:after{
	content: " ";
	display: none;
}

/*内容页*/
#content{
	height: 387px;
	width: 100%;
}

#content>div {
	position: absolute;
	width: 2500px;
}

.siderbar {
	float: left;
	padding-top: 100px;
}

.siderbar li {
	margin: 10px 0 10px 30px;
	padding: 0 15px 0 50px;
	height: 35px;
	line-height: 35px;
	list-style: none;
	font-size: 18px;
}

#siderbar-lg {
	position: absolute;
	left: -115px;
}

.collect {
	background: url('../img/collect.png') no-repeat 10px center;
}

.history {
	background: url('../img/history.png') no-repeat 10px center;
}

.search {
	background: url('../img/search.png') no-repeat 10px center;
}

.combinations {
	float: left;
}

.combination {
	background-color: #e1e1e1;
	margin: 10px 10px 10px 0;
	text-align: center;
	overflow: hidden;
}
.left {
	display: inline-block;
	margin: 0 5px 10px 0;
}

.right {
	display: inline-block;
	margin: 0 10px 10px 0;
}

.combination1 {
	width: 250px;
	height: 350px;
}

.combination2 {
	width: 350px;
	height: 170px;
}

.combination3 {
	width: 170px;
	height: 170px;
}

.combination4 {
	width: 250px;
	height: 170px
}
#footer{
	height: 50px;
	width: 100%;
	overflow: hidden;
	padding-left: 25px;
	background: #5e85b2;
	/*box-shadow: 0 -1px 3px #fff;*/
	border-top: 1px solid rgba(255,255,255,.7);
}
#footer img{
	display: inline-block;
	width: 35px;
	margin-left: 20px;
	margin-top: 12px;
	float: left;
}

#footer span{
	float: left;
	margin-left: 28%;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #fff;
}

#inner_left_div{
	position: absolute;
	width: 80px;
	height: 360px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgb(136,175,203)),to(rgb(101,140,177)));
	z-index: 1000;
	top: 104px;
}
#inner_right_div{
	position: absolute;
	width: 30px;
	height: 360px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgb(136,175,203)),to(rgb(101,140,177)));
	z-index: 1000;
	top: 104px;
	left: 940px;
}
